.double-arrow-icon-left{
  position: sticky;
  top: 40vh;
  height: 0px;
  width: 0px;
  z-index: 20;
  left: 3vw;
  height: 0px;
}
.double-arrow-icon-right{
  position: fixed;
  top: 40vh;
  height: 0px;
  width: 0px;
  z-index: 20;
  top: 50%;
  left: 90vw;
}
.container{
  height: 100%;
  width: 100vw!important;
}

.double-sidenav{
  height: 94vh;
  margin: 0 auto;
}

.left-sidenav-content{
  padding: 10px;
  text-align: center;
  width: 25%;
}

.mat-h2{
margin: 0;
}

.btn-sidenav{
  display: block;
  margin-bottom : 20px;
  opacity: 0.85;
  width: 7vw;
  text-align: left;
}

::ng-deep .mat-drawer-inner-container{
  overflow-x: hidden!important;
  overflow-y: scroll!important;
  direction: rtl;
  scrollbar-width: thin;
}

.mat-sidenav{
  width: 25%;
  margin: 0 auto;
  text-align: center;
}

