<div class="icons-left" *ngIf="currentFloor">
  <div (click)="openAgentsPanel()">
    <span
      class="first"
      matTooltip="Open Agent Panel"
      [matTooltipPosition]="'right'"
    >
      Agents
    </span>
  </div>
  <div (click)="openGadgetsPanel()">
    <span
      class="second"
      matTooltip="Open Gadget Panel"
      [matTooltipPosition]="'right'"
    >
      Gadgets
    </span>
  </div>
</div>
<div class="icons-right" *ngIf="currentFloor">
  <div (click)="openDrawingPanel()">
    <span
      class="first"
      matTooltip="Open Drawing Panel"
      [matTooltipPosition]="'left'"
      >Drawing</span
    >
  </div>
  <div (click)="openGalleryPanel()">
    <span
      class="second"
      matTooltip="Open Gallery Panel"
      [matTooltipPosition]="'left'"
      >Gallery</span
    >
  </div>
</div>
<div class="map-container">
  <div class="map-selector" *ngIf="!currentFloor">
    <strat-editor-map-grid
      [maps]="$maps | async"
      (selectMap)="onMapSelected($event)"
    ></strat-editor-map-grid>
  </div>
  <div class="map-header">
    <strat-editor-floor-chooser
      *ngIf="currentFloor"
      (mapSelected)="onMapSelected($event)"
      (floorSelected)="onFloorSelected($event)"
      [maps]="$maps | async"
      [selectedMap]="currentMap"
      [selectedFloor]="currentFloor"
    >
    </strat-editor-floor-chooser>
    <strat-editor-strat-title
      *ngIf="currentFloor"
      [stratTitle]="'Example Title'"
    >
    </strat-editor-strat-title>
  </div>
  <strat-editor-drawing-editor
    class="editor"
    #drawerEditor
    [canvasWidth]="width"
    [canvasHeight]="height"
    [loadedStrat]="$loadedStrat | async"
  ></strat-editor-drawing-editor>
  <strat-editor-drawing-status
    *ngIf="currentFloor"
    [drawingMode]="$drawingMode | async"
  >
  </strat-editor-drawing-status>
  <strat-editor-drawing-toolbar
    class="strat-editor-drawing-toolbar"
    *ngIf="currentFloor"
    (enableSelectMode)="onSelect()"
    (enableDrawingMode)="onDraw()"
    (enableDraggingMode)="onDrag()"
    (saveStrat)="onSave()"
    (showInfos)="onShowInfos()"
    (openStrat)="onOpenStrat()"
    (deleteStrat)="onDeleteStrat()"
    (wheel)="stopWheelEvent($event)"
  >
  </strat-editor-drawing-toolbar>
</div>
