@import '~apps/frontend/src/styles.scss';

.icons-left {
  z-index: 20;
  float: left;
  top: 50%;
  position: relative;
}
.icons-right {
  z-index: 20;
  float: right;
  position: relative;
  top: 50%;
}

.mat-h2 {
  margin: 0;
}

.first,
.second {
  font-family: 'Amiko';
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  display: inline-block;
  width: 80px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.first {
  background-color: $primaryDarkColor;
  color: $lighter;
}

.second {
  background-color: $primaryLightColor;
  color: $secondaryDarkColor;
}

.editor {
  cursor: pointer;
}

.map-container {
  min-height: 100vh;
}

.map-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: max-content;
  z-index: 999;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.strat-editor-drawing-toolbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: max-content;
  z-index: 999;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

::ng-deep.mat-drawer-inner-container {
  overflow-x: hidden !important;
  direction: rtl;
  scrollbar-width: thin;
  scrollbar-color: $primaryColor black;
}

.strat-saving-dialog {
  border-radius: 50%;
}

.strat-editor-drawing-status,
.strat-editor-floor-chooser,
.strat-editor-strat-title {
  display: block !important;
  position: relative !important;
  z-index: 999 !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba(50, 126, 255, 0.5);
}
