@import '~apps/frontend/src/styles.scss';

.icons-left {
  position: sticky;
  top: 40vh;
  height: 0px;
  width: 0px;
  z-index: 20;
  left: 3vw;
  height: 0px;
  display: flex;
  flex-direction: column;
}
.icons-right {
  position: fixed;
  top: 40vh;
  height: 0px;
  width: 0px;
  z-index: 20;
  top: 50%;
  left: 90vw;
  display: flex;
  flex-direction: column;
}
.container {
  height: 100%;
  width: 100vw !important;
}

.double-sidenav {
  height: 94vh;
  margin: 0 auto;
}

.left-sidenav-content {
  padding: 10px;
  text-align: center;
  width: 25%;
}

.right-sidenav-content {
  padding: 10px;
  text-align: center;
  width: 25%;
}

.mat-h2 {
  margin: 0;
}

.first,
.second {
  font-family: 'Amiko';
  background-color: yellow;
  padding: 10px 10px 10px 10px;
  margin: 10px;
  border-radius: 5px;
  display: inline-block;
  width: 80px;
  text-align: center;
}

.double-arrow-icon-left > .first {
  color: black !important;
}

.first {
  background-color: $main;
  color: $lighter;
}

.second {
  background-color: $lighter;
  color: $main;
}

::ng-deep.mat-drawer-inner-container {
  overflow-x: hidden !important;
  direction: rtl;
  scrollbar-width: thin;
}

.mat-sidenav {
  width: 25%;
  margin: 0 auto;
  text-align: center;
}

.map-panel {
  cursor: grab;
}

.map-container {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.assets-close {
  float: right;
}
.drawing-close {
  float: left;
}
