@import '~apps/frontend/src/styles.scss';

.icons-left {
  z-index: 20;
  float: left;
  top: 50%;
  position: relative;
}
.icons-right {
  z-index: 20;
  float: right;
  position: relative;
  top: 50%;
}

.mat-h2 {
  margin: 0;
}

.first,
.second {
  font-family: 'Amiko';
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  display: inline-block;
  width: 80px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.first {
  background-color: $primaryDarkColor;
  color: $lighter;
}

.second {
  background-color: $primaryLightColor;
  color: $secondaryDarkColor;
}

.editor {
  cursor: pointer;
}

.map-container {
  min-height: 100vh;
}

::ng-deep.mat-drawer-inner-container {
  overflow-x: hidden !important;
  direction: rtl;
  scrollbar-width: thin;
  scrollbar-color: $primaryColor black;
}
