<div *ngIf="$userInfos | async; else notConnected" class="strat-container">
  <mat-accordion class="headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Filters </mat-panel-title>
      </mat-expansion-panel-header>
      <strat-editor-strat-filters
        [maps]="$maps | async"
        (filter)="onFilterStrat($event)"
      >
      </strat-editor-strat-filters>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="changePage($event)"
  >
  </mat-paginator>
  <strat-editor-strat-grid
    [strats]="$strats | async"
    (selectStrat)="onSelectStrat($event)"
    (upVoteStrat)="onUpVoteStrat($event)"
    (deleteStrat)="onDeleteStrat($event)"
  ></strat-editor-strat-grid>
</div>
<ng-template #notConnected>
  <div class="not-connected">
    <p>You must be connected to display your strats</p>
  </div>
</ng-template>
