<div class="strat-filter-container">
  <mat-form-field
    appearance="fill"
    appearance="outline"
    hintLabel="Filter the strats by map"
  >
    <mat-label>Maps</mat-label>
    <mat-select
      #mapSelector
      multiple
      (selectionChange)="onMapsSelected($event.value)"
    >
      <mat-option #allSelected (click)="toggleAllSelection()"> All </mat-option>
      <mat-option *ngFor="let map of maps" [value]="map">
        {{ map.name }}
      </mat-option>
    </mat-select>
    <mat-hint align="end"
      >{{ this.selectedMapIds?.length || 0 }} / {{ this.maps.length }}</mat-hint
    >
  </mat-form-field>
  <mat-form-field class="example-form-field" appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput type="text" [(ngModel)]="stratName" />
    <mat-hint>Filter the strats by name</mat-hint>
  </mat-form-field>

  <mat-checkbox [(ngModel)]="favorite" class="line">
    Only my favorites
  </mat-checkbox>

  <label id="radio-group-ordering-by-label" class="line mat-h3">Order by</label>
  <mat-radio-group
    aria-labelledby="radio-group-ordering-by-label"
    aria-label="Select an option"
    class="radio"
    [(ngModel)]="orderingBy"
  >
    <mat-radio-button value="name"> Name </mat-radio-button>
    <mat-radio-button value="votes" [labelPosition]="'before'">
      Votes
    </mat-radio-button>
  </mat-radio-group>
  <mat-radio-group
    aria-labelledby="radio-group-ordering-by-label"
    aria-label="Select an option"
    class="radio"
    [(ngModel)]="order"
  >
    <mat-radio-button value="asc">Asc</mat-radio-button>
    <mat-radio-button value="desc" [labelPosition]="'before'">
      Desc
    </mat-radio-button>
  </mat-radio-group>
  <button mat-raised-button color="primary" (click)="onFilter()">Filter</button>
</div>
