<div class="strat-filter-container">
  <mat-form-field appearance="fill">
    <mat-label>Filter by Map</mat-label>
    <mat-select
      #mapSelector
      multiple
      (selectionChange)="onMapsSelected($event.value)"
    >
      <mat-option #allSelected (click)="toggleAllSelection()"> All </mat-option>
      <mat-option *ngFor="let map of maps" [value]="map">
        {{ map.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-label>Filter by name</mat-label>
    <input matInput type="text" ([ngModel])="(stratName)" />
  </mat-form-field>
  <mat-checkbox ([ngModel])="(favorite)" class="line">
    Only my favorites
  </mat-checkbox>
  <label id="radio-group-label" class="line">Order by</label>
  <mat-radio-group
    aria-labelledby="radio-group-label"
    aria-label="Select an option"
    class="line"
  >
    <mat-radio-button value="name">name</mat-radio-button>
    <mat-radio-button value="votes">votes</mat-radio-button>
  </mat-radio-group>

  <button mat-raised-button color="primary" (click)="onFilter()">Filter</button>
</div>
