@import '~apps/frontend/src/styles.scss';

.icons-left {
  z-index: 20;
  float: left;
  top: 50%;
  position: relative;
}
.icons-right {
  z-index: 20;
  float: right;
  position: relative;
  top: 50%;
}
.container {
  width: 100vw !important;
  margin: 0 auto;
  height: calc(100vh - 60px);
  text-align: center;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.mat-drawer-inner-container::-webkit-scrollbar {
  display: none !important;
  width: 0px !important;
}

.double-sidenav {
  height: 94vh;
  margin: 0 auto;
}

.left-sidenav-content {
  text-align: center;
}

.right-sidenav-content {
  padding: 10px;
  text-align: center;
}

.mat-h2 {
  margin: 0;
}

.first,
.second {
  font-family: 'Amiko';
  padding: 10px 10px 10px 10px;
  margin: 10px;
  border-radius: 5px;
  display: inline-block;
  width: 80px;
  text-align: center;
}

.double-arrow-icon-left > .first {
  color: black !important;
}

.first {
  background-color: $primaryDarkColor;
  color: $lighter;
}

.second {
  background-color: $primaryLightColor;
  color: $secondaryDarkColor;
}

.mat-sidenav {
  margin: 0 auto;
  text-align: center;
  transform: none;
}

.map-panel {
  cursor: grab;
}

.map-container {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.assets-close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.drawing-close {
  position: absolute;
  top: 10px;
  left: 10px;
}
