<strat-editor-top-bar
  (disconnect)="onDisconnect()"
  [$userInfos]="$userInfos"
></strat-editor-top-bar>
<mat-sidenav-container class="double-sidenav" hasBackdrop="false">
  <mat-sidenav
    #leftSidenav
    mode="over"
    [(opened)]="leftIsOpened"
    class="left-sidenav-content"
    (closedStart)="onCloseLeftSidenav()"
  >
    <button mat-mini-fab class="assets-close" (click)="closeLeftSidenav()">
      <mat-icon color="primary">close</mat-icon>
    </button>
    <strat-editor-left-panel></strat-editor-left-panel>
  </mat-sidenav>
  <mat-sidenav
    #rightSidenav
    mode="over"
    [(opened)]="rightIsOpened"
    position="end"
    class="right-sidenav-content"
    (closedStart)="onCloseRightSidenav()"
  >
    <div class="button-container">
      <button mat-mini-fab class="drawing-close" (click)="closeRightSidenav()">
        <mat-icon color="primary">close</mat-icon>
      </button>
    </div>
    <strat-editor-right-panel></strat-editor-right-panel>
  </mat-sidenav>
  <mat-sidenav-content class="container">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
