@import '~apps/frontend/src/styles.scss';

.error-block {
  padding: 12px;
  font-size: 0.9em;
  color: $warn-color;
}

.submit-button {
  background-color: $primaryColor;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-around;
  margin: 0 auto;
}

.has-error input {
  border-color: $warn-lighter-color;
}

.help-block {
  font-size: 0.8em;
  color: $warn-lighter-color;
}
