<mat-sidenav-container class="double-sidenav">
  <mat-sidenav #rightSidenav
  mode="side"
  [(opened)]="leftIsOpened">
    Sidenav content
  </mat-sidenav>
  <mat-sidenav #leftSidenav
  mode="side"
  [(opened)]="rightIsOpened"
  position="end">
    Sidenav content
  </mat-sidenav>
  <mat-sidenav-content class="container">
      <button mat-icon-button class="double-arrow-icon-left" (click)="toggleLeftSidenav()" [ngStyle]="{'transform': leftIsOpened ? 'rotate(180deg)' : 'rotate(0deg)'}">
        <mat-icon>double_arrow</mat-icon>
      </button>
      <button mat-icon-button class="double-arrow-icon-right" (click)="toggleRightSidenav()" [ngStyle]="{'transform': rightIsOpened ? 'rotate(0deg)' : 'rotate(180deg)'}">
        <mat-icon>double_arrow</mat-icon>
      </button>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
