.email-unverified {
  max-width: 300px;
  direction: ltr;
}
.resend {
  font-style: italic;
  font-size: 0.9em;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
