<div class="login" *ngIf="!($authInfos | async) && !isRegisterForm">
  <strat-editor-login-form
    (logIn)="onLogin($event)"
    (displayRegisterForm)="onDisplayRegisterForm(true)"
    [httpErrorResponse]="httpErrorResponse"
  ></strat-editor-login-form>
</div>
<div class="register" *ngIf="isRegisterForm">
  <strat-editor-register-form
    (register)="onRegister($event)"
    (displayLoginForm)="onDisplayRegisterForm(false)"
    [httpErrorResponse]="httpErrorResponse"
  ></strat-editor-register-form>
</div>

<div class="disconnect" *ngIf="$authInfos | async; let authInfos">
  <h2 class="mat-h1">
    {{ authInfos.username }}
  </h2>
  <div *ngIf="!authInfos.mailConfirmed">
    <h3 class="email-unverified mat-h3">Account confirmation pending.</h3>
    <p class="email-unverified-description">
      You need to confirm your email by clicking on the link send on your email
      address. If you haven't receive the mail you can re-send it by clicking on
      the button below.
    </p>
    <button
      color="primary"
      mat-raised-button
      class="submit-button"
      (click)="resendEmailLink()"
    >
      Re-send
    </button>
  </div>
  <button
    color="warning"
    mat-raised-button
    class="submit-button"
    (click)="onDisconnect()"
  >
    Disconnect
  </button>
</div>
