<form [formGroup]="passwordForm" class="password-container">
  <!-- Update Password -->
  <!-- Old password -->
  <p
    [ngClass]="{ 'has-error': isSubmitted && formControls.oldPassword.errors }"
  >
    <mat-form-field>
      <mat-label>Old password</mat-label>
      <input matInput type="password" formControlName="oldPassword" />
    </mat-form-field>
  </p>

  <div
    *ngIf="isSubmitted && formControls.oldPassword.errors"
    class="help-block"
  >
    <div *ngIf="formControls.oldPassword.errors?.required">
      Password is required
    </div>
    <div *ngIf="formControls.oldPassword.errors?.pattern">
      Passwords must contain 8 characters with at least one uppercase letter,
      number and symbol.
    </div>
  </div>
  <!-- New password -->
  <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
    <mat-form-field>
      <mat-label>New password</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>
  </p>
  <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
    <div *ngIf="formControls.password.errors?.required">
      Password is required
    </div>
    <div *ngIf="formControls.password.errors?.pattern">
      Passwords must contain 8 characters with at least one uppercase letter,
      number and symbol.
    </div>
  </div>
  <!-- Confirm password -->
  <p
    [ngClass]="{
      'has-error': isSubmitted && formControls.confirmPassword.errors
    }"
  >
    <mat-form-field>
      <mat-label>Confirmation</mat-label>
      <input matInput type="password" formControlName="confirmPassword" />
    </mat-form-field>
  </p>
  <div
    *ngIf="isSubmitted && formControls.confirmPassword.errors"
    class="help-block"
  >
    <div *ngIf="formControls.confirmPassword.errors.required">
      Confirmation is required
    </div>
    <div *ngIf="formControls.confirmPassword.errors.email">
      Confirmation password is invalid
    </div>
    <div *ngIf="formControls.confirmPassword.errors.match">
      Confirmation password doesn't match
    </div>
  </div>
</form>
