@import '~apps/frontend/src/styles.scss';

.password {
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
}

.password-container {
  width: 300px;
  margin: 0 auto;
}

.password input {
  box-sizing: border-box;
  display: block;
  width: 90%;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  font-family: inherit;
  font-size: 0.95em;
  direction: LTR;
}

.password input {
  background: #fff;
  border-color: #bbb;
  color: #555;
  text-align: center;
  direction: LTR;
  margin: 0 auto;
}

.has-error input {
  border-color: $warn-color;
}

.help-block {
  font-size: 0.8em;
  color: $warn-color;
}

.error-block {
  padding: 12px;
  font-size: 0.9em;
  color: $warn-color;
}

.submit-button {
  background-color: $primaryColor;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-around;
  margin: 0 auto;
}
