@import '~apps/frontend/src/styles.scss';

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-evenly;
  overflow-y: auto;
  height: max-content;
  padding: 30px;
}
