<div class="drawing-status">
  <mat-chip-list aria-label="Status">
    <mat-chip
      *ngIf="drawingMode === DrawingModeEnum.Selection"
      color="primary"
      selected="true"
    >
      {{ drawingMode }} Mode
    </mat-chip>
    <mat-chip
      *ngIf="drawingMode === DrawingModeEnum.Draw"
      color="accent"
      selected="true"
    >
      {{ drawingMode }} Mode
    </mat-chip>
    <mat-chip
      *ngIf="drawingMode === DrawingModeEnum.Dragging"
      color="warn"
      selected="true"
    >
      {{ drawingMode }} Mode
    </mat-chip>
  </mat-chip-list>
</div>
