<div class="drawing-status">
  <div class="container">
    <h3>Drawing Mode</h3>
    <mat-chip-list aria-label="Status">
      <mat-chip
        *ngIf="drawingMode === DrawingModeEnum.Selection"
        color="primary"
      >
        {{ drawingMode }}
      </mat-chip>
      <mat-chip *ngIf="drawingMode === DrawingModeEnum.Draw" color="warning">
        {{ drawingMode }}
      </mat-chip>
      <mat-chip *ngIf="drawingMode === DrawingModeEnum.Dragging" color="accent">
        {{ drawingMode }}
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
