<div class="drawing-status">
  <mat-chip-list
    aria-label="Status"
    matTooltip="Current editing mode"
    [matTooltipPosition]="'left'"
  >
    <mat-chip
      *ngIf="drawingMode === DrawingModeEnum.Selection"
      color="warn"
      selected="true"
    >
      {{ drawingMode }} Mode
    </mat-chip>
    <mat-chip
      *ngIf="drawingMode === DrawingModeEnum.Draw"
      color="primary"
      selected="true"
    >
      {{ drawingMode }} Mode
    </mat-chip>
    <mat-chip
      *ngIf="drawingMode === DrawingModeEnum.Dragging"
      color="accent"
      selected="true"
    >
      {{ drawingMode }} Mode
    </mat-chip>
  </mat-chip-list>
</div>
