@import '~apps/frontend/src/styles.scss';

.icon {
  cursor: -webkit-pointer; /* Chrome 1-21, Safari 4+ */
  cursor: -moz-pointer; /* Firefox 1.5-26 */
  cursor: pointer;
}

.active {
  color: $primaryDarkColor;
}
