<div class="grid">
  <div class="col">
    <div class="image" *ngFor="let image of images.slice(0, getThirdLength())">
      <img
        mat-image
        src="{{ 'api/gallery/thumb/' + image.fileName }}"
        alt="{{ image.imageName }} image"
        [width]="100"
      />
    </div>
  </div>
  <div class="col">
    <div
      class="image"
      *ngFor="let image of images.slice(getThirdLength(), getTwoThirdLength())"
    >
      <img
        mat-image
        src="{{ 'api/gallery/thumb/' + image.fileName }}"
        alt="{{ image.imageName }} image"
        [width]="100"
      />
    </div>
  </div>
  <div class="col">
    <div
      class="image"
      *ngFor="let image of images.slice(getTwoThirdLength(), images.length)"
    >
      <img
        mat-image
        src="{{ 'api/gallery/thumb/' + image.fileName }}"
        alt="{{ image.imageName }} image"
        [width]="100"
      />
    </div>
  </div>
</div>
