<div class="toolbar-wrapper">
  <div #toolbarIcon>
    <mat-icon class="toolbar-icon" (click)="toogleToolbar()">
      {{ toolbarIconName }}</mat-icon
    >
  </div>
  <div #toolbar class="toolbar-buttons">
    <div class="button">
      <button
        mat-mini-fab
        color="primary"
        matTooltip="Switch to draw mode"
        (click)="selectedAction.emit(DrawingActions.ENABLE_DRAWING_MODE)"
      >
        <mat-icon>create</mat-icon>
      </button>
      <mat-label>Draw</mat-label>
    </div>
    <div class="button">
      <button
        mat-mini-fab
        color="primary"
        matTooltip="Switch to selection mode"
        (click)="selectedAction.emit(DrawingActions.ENABLE_SELECT_MODE)"
      >
        <mat-icon>select_all</mat-icon>
      </button>
      <mat-label>Select</mat-label>
    </div>
    <div class="button">
      <button
        mat-mini-fab
        color="primary"
        matTooltip="Switch to dragging mode"
        (click)="selectedAction.emit(DrawingActions.ENABLE_DRAGGING_MODE)"
      >
        <mat-icon>open_with</mat-icon>
      </button>
      <mat-label>Drag</mat-label>
    </div>
    <div class="button">
      <button
        mat-mini-fab
        color="warn"
        matTooltip="Clear all draws"
        (click)="selectedAction.emit(DrawingActions.CLEAR_STRAT)"
      >
        <mat-icon>clear</mat-icon>
      </button>
      <mat-label>Clear</mat-label>
    </div>
    <hr />
    <div class="button" *ngIf="isConnected">
      <button
        mat-mini-fab
        color="primary"
        matTooltip="Open existing strat"
        (click)="selectedAction.emit(DrawingActions.OPEN_STRAT)"
      >
        <mat-icon>folder_open</mat-icon>
      </button>
      <mat-label>Open</mat-label>
    </div>
    <div class="button">
      <button
        mat-mini-fab
        color="primary"
        matTooltip="Show strat infos"
        (click)="selectedAction.emit(DrawingActions.SHOW_INFOS)"
      >
        <mat-icon>info</mat-icon>
      </button>
      <mat-label>Infos</mat-label>
    </div>
    <div class="button" *ngIf="isConnected">
      <button
        mat-mini-fab
        color="primary"
        matTooltip="Save your strat"
        (click)="selectedAction.emit(DrawingActions.SAVE_STRAT)"
      >
        <mat-icon>save</mat-icon>
      </button>
      <mat-label>Save</mat-label>
    </div>
    <div class="button">
      <button
        mat-mini-fab
        color="primary"
        matTooltip="Download your strat"
        (click)="selectedAction.emit(DrawingActions.DOWNLOAD_STRAT)"
      >
        <mat-icon>save_alt</mat-icon>
      </button>
      <mat-label>Download</mat-label>
    </div>
    <div class="button" *ngIf="isConnected">
      <button
        mat-mini-fab
        color="warn"
        matTooltip="Delete this strat"
        (click)="selectedAction.emit(DrawingActions.DELETE_STRAT)"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <mat-label>Delete</mat-label>
    </div>
  </div>
</div>
