.toolbar-buttons {
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  gap: 30px;
}

.toolbar-button {
  width: max-content;
  position: absolute;
  bottom: 60px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(50, 126, 255, 0.7);
  border-radius: 14%;
  margin-bottom: 12px;
  cursor: pointer;
}

.toolbar-wrapper {
  position: relative;
  bottom: -60px;
}

.button {
  display: flex;
  flex-direction: column;
}

.toolbar-visible {
  z-index: 999;
  transform: translateY(-80px);
  transition: all 0.3s ease-in-out;
}

.toolbar-invisible {
  z-index: -999;
  transform: translateY(80px);
  transition: all 0.3s ease-in-out;
}

.icon-rotated {
  transform: translateY(-30px);
  transition: all 0.3s ease-in-out;
}
