<div class="container">
  <h2 class="mat-title">Shapes</h2>
  <div class="icons">
    <strat-editor-drawing-action
      *ngFor="
        let action of $drawerActions
          | async
          | filter: ['shape']:'type'
          | sortBy: 'ASC':'order'
      "
      [action]="action"
      (actionSelected)="onActionSelected($event)"
    ></strat-editor-drawing-action>
  </div>
  <hr />
  <h2 class="mat-title">Colors</h2>
  <mat-form-field>
    <input
      matInput
      [ngxMatColorPicker]="picker"
      [formControl]="colorCtr"
      (ngModelChange)="onSelectColor($event)"
      [value]="getNgxColor($color | async)"
    />
    <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
    <ngx-mat-color-picker #picker></ngx-mat-color-picker>
  </mat-form-field>
  <hr />
  <h2 class="mat-title">Forms</h2>
  <div class="icons">
    <strat-editor-drawing-action
      *ngFor="
        let action of $drawerActions
          | async
          | filter: ['form']:'type'
          | sortBy: 'ASC':'order'
      "
      [action]="action"
      (actionSelected)="onActionSelected($event)"
    ></strat-editor-drawing-action>
  </div>

  <hr />
  <h2 class="mat-title">Text</h2>
  <div class="text-widgets">
    <div class="icons">
      <strat-editor-drawing-action
        *ngFor="
          let action of $drawerActions
            | async
            | filter: ['text', 'setting']:'type'
            | sortBy: 'ASC':'order'
        "
        [action]="action"
        (actionSelected)="onActionSelected($event)"
      ></strat-editor-drawing-action>
    </div>
    <div class="fonts">
      <mat-form-field>
        <mat-label class="select-label">Font size</mat-label>
        <mat-select (selectionChange)="onFontSizeSelected($event.value)">
          <mat-option *ngFor="let size of fontSizes" [value]="size">{{
            size
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label class="select-label">Font family</mat-label>
        <mat-select (selectionChange)="onFontFamilySelected($event.value)">
          <mat-option *ngFor="let font of $fontNames | async" [value]="font">{{
            font
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <hr />
  <h2 class="mat-title">Tools</h2>
  <div class="icons">
    <strat-editor-drawing-action
      *ngFor="
        let action of $drawerActions
          | async
          | filter: ['tool']:'type'
          | sortBy: 'ASC':'order'
      "
      [action]="action"
      (actionSelected)="onActionSelected($event)"
    ></strat-editor-drawing-action>
  </div>
  <hr />
</div>
