.actions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.action {
  margin-left: 5px;
  margin-right: 5px;
}

.mat-icon {
  display: block;
}

.sample-text {
  font-size: 1.3em;
}
