<div class="modal-content-wrapper">
  <header class="modal-header">
    <h1 class="mat-title">{{ dialogData.title }}</h1>
  </header>
  <section class="modal-body">
    <p *ngFor="let line of dialogData.description">
      {{ line }}
      <br />
    </p>
  </section>
  <footer class="modal-footer">
    <button color="warn" mat-raised-button (click)="onCancel()">
      {{ dialogData.cancelButtonText }}
    </button>
    <button color="primary" mat-raised-button (click)="onConfirm()">
      {{ dialogData.confirmButtonText }}
    </button>
  </footer>
</div>
