.strat-container {
  width: 350px;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.description {
  position: absolute;
  top: 50%;

  width: 350px;
  margin: 0px 10px 0px 10px;
  color: white;
  text-align: justify;
}

.map-image {
  opacity: 0.3;
}
.headers {
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto;
  text-align: center;
}

.buttons {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
